@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-rgb: 0, 0, 0;
	--background-rgb: 224, 224, 226;
	--header-underline: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
		--header-underline: 255, 255, 255;
	}
}

body {
	background: rgb(var(--background-rgb));
	color: rgb(var(--font-rgb));
	/* border-color: rgb(var(--border-color)); */
}

p,
li {
	margin: 16px 0;
}

code {
	--tw-bg-opacity: 1;
	background-color: rgb(30 41 59 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
	word-wrap: anywhere;
}

input {
	width: 100%;
}

ul {
	list-style-type: disc;
}

option {
	font-family: sans-serif;
}

.headerLink {
	border-bottom: 4px solid rgb(var(--header-underline));
	border-bottom-color: transparent;
	color: inherit;
	text-decoration: none;
	width: fit-content;
}

.headerLink:hover,
.headerLink:focus {
	border-bottom-color: rgb(var(--header-underline));
}
