@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--font-rgb: 0, 0, 0;
	--background-rgb: 224, 224, 226;
	/* width: 100vw; */
}

@media (prefers-color-scheme: dark) {
	:root {
		--font-rgb: 255, 255, 255;
		--background-rgb: 0, 0, 0;
	}
}

body {
	background: rgb(var(--background-rgb));
	color: rgb(var(--font-rgb));
	/* width: 100%; */
}

p {
	margin: 16px 0;
}

/* @media screen and (max-width: 500px) {
	body {
		margin: 0;
	}
} */
